body
{
   background-color: #FFFFFF;
   color: #222222;
   font-family: Poppins;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1;
   margin: 0;
   padding: 0;
}
a
{
   color: #1973B5;
   text-decoration: underline;
}
a:hover
{
   color: #1973B5;
   text-decoration: underline;
}
#wb_blogLayout_1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   height: 50vh;
   background-color: transparent;
   background-image: url('../images/Agencia_de_marketing_Geometriks_guayaquil_02.jpg');
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: scroll;
   background-size: cover;
   border: 0px solid transparent;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#blogLayout_1
{
   box-sizing: border-box;
   height: 50vh;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 24px 0 24px 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1920px;
}
#blogLayout_1 > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 16px;
   padding-left: 16px;
   position: relative;
}
#blogLayout_1 > .col-1
{
   flex: 0 0 auto;
}
#blogLayout_1 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 100%;
   max-width: 100%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: center;
   text-align: center;
}
@media (max-width: 480px)
{
#blogLayout_1 > .col-1
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_blog_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_blog_Text1
{
   color: #222222;
   font-family: Poppins;
   font-weight: 800;
   font-size: 53px;
   line-height: 102px;
}
#wb_blog_Text1 p, #wb_blog_Text1 ul
{
   margin: 0;
   padding: 0;
}
#wb_blog_Text1
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_blogLayout_2
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#blogLayout_2
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 0px 0 0px 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1280px;
}
#blogLayout_2 > .col-1, #blogLayout_2 > .col-2
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#blogLayout_2 > .col-1, #blogLayout_2 > .col-2
{
   flex: 0 0 auto;
}
#blogLayout_2 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 50%;
   max-width: 50%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   justify-content: flex-end;
   text-align: right;
}
#blogLayout_2 > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 50%;
   max-width: 50%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: center;
   text-align: center;
}
@media (max-width: 480px)
{
#blogLayout_2 > .col-1, #blogLayout_2 > .col-2
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_blogLayout_text_2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 25px 0 25px 0;
   margin: 0;
   text-align: right;
}
#wb_blogLayout_text_2 div
{
   text-align: right;
}
#wb_blogLayout_text_2
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_blogLayout_text_1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 15px 0 0 0;
   text-align: right;
}
#blogLayout_text_1
{
   color: #222222;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 43px;
   margin: 0;
   text-align: right;
   text-transform: none;
}
#wb_blogLayout_image
{
   margin: 0;
   vertical-align: top;
}
#blogLayout_image
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 640px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#blogLayout_boton
{
   font-family: Poppins;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   display: inline-block;
   position: relative;
   vertical-align: middle;
   user-select: none;
   overflow: visible;
   text-decoration: none;
   cursor: pointer;
}
#wb_blogLayout_boton
{
   border-radius: 4px;
   margin: 24px 0 24px 0 ;
   vertical-align: top;
}
#blogLayout_boton
{
   box-sizing: border-box;
   padding: 0;
   text-align: center;
}
#wb_blogLayout_boton .ui-button
{
   display: flex;
   align-items: center;
   margin: 0;
   justify-content: center;
}
#blogLayout_boton
{
   color: inherit;
}
#wb_blogLayout_boton .ui-corner-all, #wb_blogLayout_boton .ui-corner-left
{
   border-bottom-left-radius: 4px;
   border-top-left-radius: 4px;
}
#wb_blogLayout_boton .ui-corner-all, #wb_blogLayout_boton .ui-corner-right
{
   border-bottom-right-radius: 4px;
   border-top-right-radius: 4px;
}
#wb_blogLayout_boton .ui-button
{
   background-color: #1973B5;
   background-image: none;
   border: 0px solid rgba(25,115,181,0.00);
   color: #FFFFFF;
}
#wb_blogLayout_boton .ui-state-hover, #wb_blogLayout_boton .ui-button:hover
{
   border-color: #125687;
   background-color: #125687;
   background-image: none;
   color: #F4F4F4;
}
#wb_blogLayout_boton .ui-button:disabled
{
   opacity: .5;
   pointer-events: none;
}
#wb_blogLayout_boton .ui-state-active, #wb_blogLayout_boton .ui-button:active
{
   border-color: #125687;
   background-color: #125687;
   background-image: none;
   color: #F4F4F4;
}
#wb_uid0
{
   color: #222222;
   font-family: "Arial";
   font-size: 16px;
}
#wb_blogLayout_image
{
   display: block;
   width: 100%;
   height: auto;
   z-index: 4;
}
#wb_blogLayout_boton
{
   display: inline-block;
   width: 160px;
   height: 32px;
   z-index: 3;
}
#blogLayout_boton
{
   width: 100%;
   height: 100%;
}
#wb_blogLayout_text_1
{
   display: block;
   width: 100%;
   z-index: 1;
}
@media only screen and (min-width: 1440px) and (max-width: 1919px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#wb_blogLayout_1
{
   visibility: visible;
   display: table;
}
#wb_blogLayout_1
{
   height: 50vh;
   margin-top: 0px;
   margin-bottom: 0px;
}
#blogLayout_1
{
   height: 50vh;
   padding: 24px 0 24px 0;
}
#blogLayout_1 > .col-1
{
   padding-right: 16px;
   padding-left: 16px;
}
#blogLayout_1 > .col-1
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: center;
   align-items: center;
   justify-content: center;
   text-align: center;
}
#wb_blog_Text1
{
   visibility: visible;
   display: block;
}
#wb_blog_Text1
{
   font-size: 53px;
   margin: 0;
   padding: 0;
   text-align: center;
   line-height: 103px;
}
#wb_blogLayout_2
{
   visibility: visible;
   display: table;
}
#wb_blogLayout_2
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#blogLayout_2
{
   height: auto;
   padding: 10px 0 10px 0;
}
#blogLayout_2 > .col-1, #blogLayout_2 > .col-2
{
   padding-right: 15px;
   padding-left: 15px;
}
#blogLayout_2 > .col-1
{
   display: flex;
   flex-basis: 50%;
   max-width: 50%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: flex-start;
   align-items: flex-start;
   justify-content: flex-end;
   text-align: right;
}
#blogLayout_2 > .col-2
{
   display: flex;
   flex-basis: 50%;
   max-width: 50%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: center;
   align-items: center;
   justify-content: center;
   text-align: center;
}
#wb_blogLayout_text_2
{
   visibility: visible;
   display: block;
}
#wb_blogLayout_text_2
{
   margin: 0;
   padding: 25px 0 25px 0;
}
#wb_blogLayout_text_1
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 15px 0 0 0;
   font-size: 13px;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_blogLayout_text_1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
   border-radius: 0px;
   text-align: right;
}
#blogLayout_text_1
{
   color: #222222;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 13px;
   text-align: right;
   text-transform: none;
}
#wb_blogLayout_image
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0;
}
#wb_blogLayout_boton
{
   width: 160px;
   height: 32px;
   visibility: visible;
   display: inline-block;
   margin: 24px 0 24px 0 ;
}
#blogLayout_boton
{
   font-size: 13px;
}
#wb_blogLayout_boton .ui-button
{
   line-height: 32px;
   padding: 0;
}
}
@media only screen and (min-width: 1024px) and (max-width: 1439px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#wb_blogLayout_1
{
   visibility: visible;
   display: table;
}
#wb_blogLayout_1
{
   height: 50vh;
   margin-top: 0px;
   margin-bottom: 0px;
}
#blogLayout_1
{
   height: 50vh;
   padding: 24px 0 24px 0;
}
#blogLayout_1 > .col-1
{
   padding-right: 16px;
   padding-left: 16px;
}
#blogLayout_1 > .col-1
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: center;
   align-items: center;
   justify-content: center;
   text-align: center;
}
#wb_blog_Text1
{
   visibility: visible;
   display: block;
}
#wb_blog_Text1
{
   font-size: 53px;
   margin: 0;
   padding: 0;
   text-align: center;
   line-height: 103px;
}
#wb_blogLayout_2
{
   visibility: visible;
   display: table;
}
#wb_blogLayout_2
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#blogLayout_2
{
   height: auto;
   padding: 10px 0 10px 0;
}
#blogLayout_2 > .col-1, #blogLayout_2 > .col-2
{
   padding-right: 15px;
   padding-left: 15px;
}
#blogLayout_2 > .col-1
{
   display: flex;
   flex-basis: 50%;
   max-width: 50%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: flex-start;
   align-items: flex-start;
   justify-content: flex-end;
   text-align: right;
}
#blogLayout_2 > .col-2
{
   display: flex;
   flex-basis: 50%;
   max-width: 50%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: flex-start;
   align-items: flex-start;
   justify-content: flex-end;
   text-align: right;
}
#wb_blogLayout_text_2
{
   visibility: visible;
   display: block;
}
#wb_blogLayout_text_2
{
   margin: 0;
   padding: 25px 0 25px 0;
}
#wb_blogLayout_text_1
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 15px 0 0 0;
   font-size: 13px;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_blogLayout_text_1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
   border-radius: 0px;
   text-align: right;
}
#blogLayout_text_1
{
   color: #222222;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 13px;
   text-align: right;
   text-transform: none;
}
#wb_blogLayout_image
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0;
}
#wb_blogLayout_boton
{
   width: 160px;
   height: 32px;
   visibility: visible;
   display: inline-block;
   margin: 24px 0 24px 0 ;
}
#blogLayout_boton
{
   font-size: 13px;
}
#wb_blogLayout_boton .ui-button
{
   line-height: 32px;
   padding: 0;
}
}
@media only screen and (min-width: 768px) and (max-width: 1023px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#wb_blogLayout_1
{
   visibility: visible;
   display: table;
}
#wb_blogLayout_1
{
   height: 50vh;
   margin-top: 0px;
   margin-bottom: 0px;
}
#blogLayout_1
{
   height: 50vh;
   padding: 24px 0 24px 0;
}
#blogLayout_1 > .col-1
{
   padding-right: 16px;
   padding-left: 16px;
}
#blogLayout_1 > .col-1
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: center;
   align-items: center;
   justify-content: center;
   text-align: center;
}
#wb_blog_Text1
{
   visibility: visible;
   display: block;
}
#wb_blog_Text1
{
   font-size: 53px;
   margin: 0;
   padding: 0;
   text-align: center;
   line-height: 103px;
}
#wb_blogLayout_2
{
   visibility: visible;
   display: table;
}
#wb_blogLayout_2
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#blogLayout_2
{
   height: auto;
   padding: 10px 0 10px 0;
}
#blogLayout_2 > .col-1, #blogLayout_2 > .col-2
{
   padding-right: 15px;
   padding-left: 15px;
}
#blogLayout_2 > .col-1
{
   display: flex;
   flex-basis: 50%;
   max-width: 50%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: flex-start;
   align-items: flex-start;
   justify-content: flex-end;
   text-align: right;
}
#blogLayout_2 > .col-2
{
   display: flex;
   flex-basis: 50%;
   max-width: 50%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: flex-start;
   align-items: flex-start;
   justify-content: flex-end;
   text-align: right;
}
#wb_blogLayout_text_2
{
   visibility: visible;
   display: block;
}
#wb_blogLayout_text_2
{
   margin: 0;
   padding: 25px 0 25px 0;
}
#wb_blogLayout_text_1
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 15px 0 0 0;
   font-size: 13px;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_blogLayout_text_1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
   border-radius: 0px;
   text-align: right;
}
#blogLayout_text_1
{
   color: #222222;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 13px;
   text-align: right;
   text-transform: none;
}
#wb_blogLayout_image
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0;
}
#wb_blogLayout_boton
{
   width: 160px;
   height: 32px;
   visibility: visible;
   display: inline-block;
   margin: 24px 0 24px 0 ;
}
#blogLayout_boton
{
   font-size: 13px;
}
#wb_blogLayout_boton .ui-button
{
   line-height: 32px;
   padding: 0;
}
}
@media only screen and (min-width: 375px) and (max-width: 767px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#wb_blogLayout_1
{
   visibility: visible;
   display: table;
}
#wb_blogLayout_1
{
   height: 50vh;
   margin-top: 0px;
   margin-bottom: 0px;
}
#blogLayout_1
{
   height: 50vh;
   padding: 24px 0 24px 0;
}
#blogLayout_1 > .col-1
{
   padding-right: 16px;
   padding-left: 16px;
}
#blogLayout_1 > .col-1
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: center;
   align-items: center;
   justify-content: center;
   text-align: center;
}
#wb_blog_Text1
{
   visibility: visible;
   display: block;
}
#wb_blog_Text1
{
   font-size: 24px;
   margin: 0;
   padding: 0;
   text-align: center;
   line-height: 46px;
}
#wb_blogLayout_2
{
   visibility: visible;
   display: table;
}
#wb_blogLayout_2
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#blogLayout_2
{
   height: auto;
   padding: 10px 0 10px 0;
}
#blogLayout_2 > .col-1, #blogLayout_2 > .col-2
{
   padding-right: 15px;
   padding-left: 15px;
}
#blogLayout_2 > .col-1
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: flex-start;
   align-items: flex-start;
   justify-content: flex-end;
   text-align: right;
}
#blogLayout_2 > .col-2
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: center;
   align-items: center;
   justify-content: center;
   text-align: center;
}
#wb_blogLayout_text_2
{
   visibility: visible;
   display: block;
}
#wb_blogLayout_text_2
{
   margin: 0;
   padding: 25px 0 25px 0;
}
#wb_blogLayout_text_1
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 15px 0 0 0;
   font-size: 13px;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_blogLayout_text_1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
   border-radius: 0px;
   text-align: right;
}
#blogLayout_text_1
{
   color: #222222;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 13px;
   text-align: right;
   text-transform: none;
}
#wb_blogLayout_image
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0;
}
#wb_blogLayout_boton
{
   width: 160px;
   height: 32px;
   visibility: visible;
   display: inline-block;
   margin: 24px 0 24px 0 ;
}
#blogLayout_boton
{
   font-size: 13px;
}
#wb_blogLayout_boton .ui-button
{
   line-height: 32px;
   padding: 0;
}
}
@media only screen and (max-width: 374px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#wb_blogLayout_1
{
   visibility: visible;
   display: table;
}
#wb_blogLayout_1
{
   height: 50vh;
   margin-top: 0px;
   margin-bottom: 0px;
}
#blogLayout_1
{
   height: 50vh;
   padding: 24px 0 24px 0;
}
#blogLayout_1 > .col-1
{
   padding-right: 16px;
   padding-left: 16px;
}
#blogLayout_1 > .col-1
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: center;
   align-items: center;
   justify-content: center;
   text-align: center;
}
#wb_blog_Text1
{
   visibility: visible;
   display: block;
}
#wb_blog_Text1
{
   font-size: 24px;
   margin: 0;
   padding: 0;
   text-align: center;
   line-height: 46px;
}
#wb_blogLayout_2
{
   visibility: visible;
   display: table;
}
#wb_blogLayout_2
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#blogLayout_2
{
   height: auto;
   padding: 0px 0 0px 0;
}
#blogLayout_2 > .col-1, #blogLayout_2 > .col-2
{
   padding-right: 15px;
   padding-left: 15px;
}
#blogLayout_2 > .col-1
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: flex-start;
   align-items: flex-start;
   justify-content: flex-end;
   text-align: right;
}
#blogLayout_2 > .col-2
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: flex-start;
   align-items: flex-start;
   justify-content: flex-end;
   text-align: right;
}
#wb_blogLayout_text_2
{
   visibility: visible;
   display: block;
}
#wb_blogLayout_text_2
{
   margin: 0;
   padding: 25px 0 25px 0;
}
#wb_blogLayout_text_1
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 15px 0 0 0;
   font-size: 13px;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_blogLayout_text_1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
   border-radius: 0px;
   text-align: right;
}
#blogLayout_text_1
{
   color: #222222;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 13px;
   text-align: right;
   text-transform: none;
}
#wb_blogLayout_image
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0;
}
#wb_blogLayout_boton
{
   width: 160px;
   height: 32px;
   visibility: visible;
   display: inline-block;
   margin: 24px 0 24px 0 ;
}
#blogLayout_boton
{
   font-size: 13px;
}
#wb_blogLayout_boton .ui-button
{
   line-height: 32px;
   padding: 0;
}
}
