body
{
   background-color: #FFFFFF;
   color: #222222;
   font-family: Poppins;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1;
   margin: 0;
   padding: 0;
}
a
{
   color: #1973B5;
   text-decoration: underline;
}
a:hover
{
   color: #1973B5;
   text-decoration: underline;
}
#wb_nosotros_layout1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   height: 50vh;
   background-color: transparent;
   background-image: url('../images/agencia_de_marketing_geometriks_guayaquil_06_copia.jpg');
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: scroll;
   background-size: cover;
   border: 0px solid transparent;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#nosotros_layout1
{
   box-sizing: border-box;
   height: 50vh;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 24px 0 24px 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1280px;
}
#nosotros_layout1 > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 16px;
   padding-left: 16px;
   position: relative;
}
#nosotros_layout1 > .col-1
{
   flex: 0 0 auto;
}
#nosotros_layout1 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 100%;
   max-width: 100%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: center;
   text-align: center;
}
@media (max-width: 480px)
{
#nosotros_layout1 > .col-1
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_contacto_layout2
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 128px 0 128px 0 ;
}
#contacto_layout2
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 24px 0 24px 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1280px;
}
#contacto_layout2 > .col-1, #contacto_layout2 > .col-2
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 16px;
   padding-left: 16px;
   position: relative;
}
#contacto_layout2 > .col-1, #contacto_layout2 > .col-2
{
   flex: 0 0 auto;
}
#contacto_layout2 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
   border-radius: 0px;
   flex-basis: 50%;
   max-width: 50%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   justify-content: flex-start;
   text-align: left;
}
#contacto_layout2 > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
   border-radius: 0px;
   flex-basis: 50%;
   max-width: 50%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: flex-start;
   text-align: left;
}
@media (max-width: 480px)
{
#contacto_layout2 > .col-1, #contacto_layout2 > .col-2
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_contactoImage3
{
   margin: 0;
   vertical-align: top;
}
#contactoImage3
{
   border: 0px solid transparent;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 1280px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_contactoText3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
   border-radius: 0px;
   padding: 0;
   margin: 24px 0 24px 0 ;
   text-align: left;
}
#wb_contactoText3
{
   color: #222222;
   font-family: Poppins;
   font-weight: 600;
   font-size: 13px;
   line-height: 25px;
}
#wb_contactoText3 p, #wb_contactoText3 ul
{
   margin: 0;
   padding: 0;
}
#wb_contactoText3
{
   display: block;
   margin: 24px 0 24px 0 ;
   box-sizing: border-box;
   width: 100%;
}
#wb_contactoText2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_contactoText2
{
   color: #222222;
   font-family: Poppins;
   font-weight: 400;
   font-size: 13px;
   line-height: 25px;
}
#wb_contactoText2 p, #wb_contactoText2 ul
{
   margin: 0;
   padding: 0;
}
#wb_contactoText2
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#contactoEditbox1
{
   box-sizing: border-box;
   line-height: 30px;
   margin: 0 0 12px 0 ;
   border: 1px solid #E6E6E6;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #222222;
   font-family: Poppins;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   text-align: left;
   padding: 4px 4px 4px 4px;
}
#contactoEditbox1:focus
{
   border-color: #8CB9DA;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(140,185,218,0.60);
   outline: 0;
}
#contactoEditbox2
{
   box-sizing: border-box;
   line-height: 30px;
   margin: 12px 0 12px 0 ;
   border: 1px solid #E6E6E6;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #222222;
   font-family: Poppins;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   text-align: left;
   padding: 4px 4px 4px 4px;
}
#contactoEditbox2:focus
{
   border-color: #8CB9DA;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(140,185,218,0.60);
   outline: 0;
}
#contactoEditbox3
{
   box-sizing: border-box;
   line-height: 30px;
   margin: 12px 0 12px 0 ;
   border: 1px solid #E6E6E6;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #222222;
   font-family: Poppins;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   text-align: left;
   padding: 4px 4px 4px 4px;
}
#contactoEditbox3:focus
{
   border-color: #8CB9DA;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(140,185,218,0.60);
   outline: 0;
}
#contactoTextmensaje1
{
   box-sizing: border-box;
   border: 1px solid #E6E6E6;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #222222;
   font-family: Poppins;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   text-align: left;
   padding: 4px 4px 4px 4px;
   margin: 12px 0 12px 0 ;
   overflow: auto;
   resize: none;
}
#contactoTextmensaje1:focus
{
   border-color: #8CB9DA;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(140,185,218,0.60);
   outline: 0;
}
#wb_contactoText4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 12px 0 12px 0 ;
   text-align: left;
}
#wb_contactoText4
{
   color: #CC0000;
   font-family: Poppins;
   font-weight: 400;
   font-size: 11px;
   line-height: 18px;
}
#wb_contactoText4 p, #wb_contactoText4 ul
{
   margin: 0;
   padding: 0;
}
#wb_contactoText4
{
   display: block;
   margin: 12px 0 12px 0 ;
   box-sizing: border-box;
   width: 100%;
}
#contactoButton1
{
   border: 0px solid #2E6DA4;
   border-radius: 4px;
   background-color: #1973B5;
   background-image: none;
   color: #FFFFFF;
   cursor: pointer;
   font-family: Poppins;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 0;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#contactoButton1:focus
{
   outline: 0;
}
#wb_contactoIcon1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0 32px 0 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_contactoIcon1 a
{
   text-decoration: none;
}
#wb_contactoIcon1 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#contactoIcon1
{
   height: 64px;
   width: 64px;
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
}
#contactoIcon1 i
{
   color: #1973B5;
   display: inline-block;
   font-size: 64px;
   line-height: 64px;
   vertical-align: middle;
}
#wb_contactoIcon1:hover #contactoIcon1 i
{
   color: #1973B5;
}
#wb_contactoText5 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
   border-radius: 0px;
   padding: 0;
   margin: 24px 0 24px 0 ;
   text-align: left;
}
#wb_contactoText5
{
   color: #222222;
   font-family: Poppins;
   font-weight: 600;
   font-size: 16px;
   line-height: 30px;
}
#wb_contactoText5 p, #wb_contactoText5 ul
{
   margin: 0;
   padding: 0;
}
#wb_contactoText5
{
   display: block;
   margin: 24px 0 24px 0 ;
   box-sizing: border-box;
   width: 100%;
}
#wb_nosotros_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_nosotros_Text1
{
   color: #222222;
   font-family: Poppins;
   font-weight: 800;
   font-size: 53px;
   line-height: 102px;
}
#wb_nosotros_Text1 p, #wb_nosotros_Text1 ul
{
   margin: 0;
   padding: 0;
}
#wb_nosotros_Text1
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#hiddenConfirm
{
   display: none;
}
#wb_contactoIcon1
{
   display: inline-block;
   width: 64px;
   height: 64px;
   text-align: center;
   z-index: 4;
}
#contactoEditbox3
{
   display: block;
   width: 100%;
   height: 40px;
   z-index: 7;
}
#contactoEditbox2
{
   display: block;
   width: 100%;
   height: 40px;
   z-index: 6;
}
#contactoEditbox1
{
   display: block;
   width: 100%;
   height: 40px;
   z-index: 5;
}
#contactoTextmensaje1
{
   display: block;
   width: 100%;
   height: 194px;
   z-index: 8;
}
#contactoButton1
{
   display: inline-block;
   width: 228px;
   height: 28px;
   z-index: 10;
}
@media only screen and (min-width: 1440px) and (max-width: 1919px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#wb_nosotros_layout1
{
   visibility: visible;
   display: table;
}
#wb_nosotros_layout1
{
   height: 50vh;
   margin-top: 0px;
   margin-bottom: 0px;
}
#nosotros_layout1
{
   height: 50vh;
   padding: 24px 0 24px 0;
}
#nosotros_layout1 > .col-1
{
   padding-right: 16px;
   padding-left: 16px;
}
#nosotros_layout1 > .col-1
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: center;
   align-items: center;
   justify-content: center;
   text-align: center;
}
#wb_contacto_layout2
{
   visibility: visible;
   display: table;
}
#wb_contacto_layout2
{
   height: auto;
   margin-top: 128px;
   margin-bottom: 128px;
}
#contacto_layout2
{
   height: auto;
   padding: 24px 0 24px 0;
}
#contacto_layout2 > .col-1, #contacto_layout2 > .col-2
{
   padding-right: 16px;
   padding-left: 16px;
}
#contacto_layout2 > .col-1
{
   display: flex;
   flex-basis: 50%;
   max-width: 50%;
   border: 0px solid transparent;
   border-radius: 0px;
   align-content: flex-start;
   align-items: flex-start;
   justify-content: flex-start;
   text-align: left;
}
#contacto_layout2 > .col-2
{
   display: flex;
   flex-basis: 50%;
   max-width: 50%;
   border: 0px solid transparent;
   border-radius: 0px;
   align-content: center;
   align-items: center;
   justify-content: flex-start;
   text-align: left;
}
#wb_contactoImage3
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0;
}
#wb_contactoText3
{
   visibility: visible;
   display: block;
}
#wb_contactoText3
{
   font-size: 13px;
   margin: 24px 0 24px 0 ;
   padding: 0;
   text-align: left;
   line-height: 26px;
}
#wb_contactoText2
{
   visibility: visible;
   display: block;
}
#wb_contactoText2
{
   font-size: 13px;
   margin: 0;
   padding: 0;
   text-align: left;
   line-height: 26px;
}
#contactoEditbox1
{
   width: 100%;
   height: 40px;
   visibility: visible;
   display: block;
   margin: 0 0 12px 0 ;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#contactoEditbox1
{
   line-height: 18px;
}
#contactoEditbox2
{
   width: 100%;
   height: 40px;
   visibility: visible;
   display: block;
   margin: 12px 0 12px 0 ;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#contactoEditbox2
{
   line-height: 6px;
}
#contactoEditbox3
{
   width: 100%;
   height: 40px;
   visibility: visible;
   display: block;
   margin: 12px 0 12px 0 ;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#contactoEditbox3
{
   line-height: 6px;
}
#contactoTextmensaje1
{
   width: 100%;
   height: 194px;
   visibility: visible;
   display: block;
   margin: 12px 0 12px 0 ;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#wb_contactoText4
{
   visibility: visible;
   display: block;
}
#wb_contactoText4
{
   font-size: 13px;
   margin: 12px 0 12px 0 ;
   padding: 0;
   text-align: left;
   line-height: 26px;
}
#contactoButton1
{
   width: 228px;
   height: 28px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 0;
}
#wb_contactoIcon1
{
   width: 64px;
   height: 64px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 0 32px 0 0;
}
#contactoIcon1
{
   width: 64px;
   height: 64px;
}
#contactoIcon1 i
{
   line-height: 64px;
   font-size: 64px;
   width: 63px;
}
#wb_contactoText5
{
   visibility: visible;
   display: block;
}
#wb_contactoText5
{
   font-size: 13px;
   margin: 24px 0 24px 0 ;
   padding: 0;
   text-align: left;
   line-height: 26px;
}
#wb_nosotros_Text1
{
   visibility: visible;
   display: block;
}
#wb_nosotros_Text1
{
   font-size: 53px;
   margin: 0;
   padding: 0;
   text-align: center;
   line-height: 103px;
}
}
@media only screen and (min-width: 1024px) and (max-width: 1439px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#wb_nosotros_layout1
{
   visibility: visible;
   display: table;
}
#wb_nosotros_layout1
{
   height: 50vh;
   margin-top: 0px;
   margin-bottom: 0px;
}
#nosotros_layout1
{
   height: 50vh;
   padding: 24px 0 24px 0;
}
#nosotros_layout1 > .col-1
{
   padding-right: 16px;
   padding-left: 16px;
}
#nosotros_layout1 > .col-1
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: center;
   align-items: center;
   justify-content: center;
   text-align: center;
}
#wb_contacto_layout2
{
   visibility: visible;
   display: table;
}
#wb_contacto_layout2
{
   height: auto;
   margin-top: 128px;
   margin-bottom: 128px;
}
#contacto_layout2
{
   height: auto;
   padding: 24px 0 24px 0;
}
#contacto_layout2 > .col-1, #contacto_layout2 > .col-2
{
   padding-right: 16px;
   padding-left: 16px;
}
#contacto_layout2 > .col-1
{
   display: flex;
   flex-basis: 50%;
   max-width: 50%;
   border: 0px solid transparent;
   border-radius: 0px;
   align-content: flex-start;
   align-items: flex-start;
   justify-content: flex-start;
   text-align: left;
}
#contacto_layout2 > .col-2
{
   display: flex;
   flex-basis: 50%;
   max-width: 50%;
   border: 0px solid transparent;
   border-radius: 0px;
   align-content: center;
   align-items: center;
   justify-content: flex-start;
   text-align: left;
}
#wb_contactoImage3
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0;
}
#wb_contactoText3
{
   visibility: visible;
   display: block;
}
#wb_contactoText3
{
   font-size: 13px;
   margin: 24px 0 24px 0 ;
   padding: 0;
   text-align: left;
   line-height: 26px;
}
#wb_contactoText2
{
   visibility: visible;
   display: block;
}
#wb_contactoText2
{
   font-size: 13px;
   margin: 0;
   padding: 0;
   text-align: left;
   line-height: 26px;
}
#contactoEditbox1
{
   width: 100%;
   height: 40px;
   visibility: visible;
   display: block;
   margin: 0 0 12px 0 ;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#contactoEditbox1
{
   line-height: 18px;
}
#contactoEditbox2
{
   width: 100%;
   height: 40px;
   visibility: visible;
   display: block;
   margin: 12px 0 12px 0 ;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#contactoEditbox2
{
   line-height: 6px;
}
#contactoEditbox3
{
   width: 100%;
   height: 40px;
   visibility: visible;
   display: block;
   margin: 12px 0 12px 0 ;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#contactoEditbox3
{
   line-height: 6px;
}
#contactoTextmensaje1
{
   width: 100%;
   height: 194px;
   visibility: visible;
   display: block;
   margin: 12px 0 12px 0 ;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#wb_contactoText4
{
   visibility: visible;
   display: block;
}
#wb_contactoText4
{
   font-size: 13px;
   margin: 12px 0 12px 0 ;
   padding: 0;
   text-align: left;
   line-height: 26px;
}
#contactoButton1
{
   width: 228px;
   height: 28px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 0;
}
#wb_contactoIcon1
{
   width: 64px;
   height: 64px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 0 32px 0 0;
}
#contactoIcon1
{
   width: 64px;
   height: 64px;
}
#contactoIcon1 i
{
   line-height: 64px;
   font-size: 64px;
   width: 63px;
}
#wb_contactoText5
{
   visibility: visible;
   display: block;
}
#wb_contactoText5
{
   font-size: 13px;
   margin: 24px 0 24px 0 ;
   padding: 0;
   text-align: left;
   line-height: 26px;
}
#wb_nosotros_Text1
{
   visibility: visible;
   display: block;
}
#wb_nosotros_Text1
{
   font-size: 53px;
   margin: 0;
   padding: 0;
   text-align: center;
   line-height: 103px;
}
}
@media only screen and (min-width: 768px) and (max-width: 1023px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#wb_nosotros_layout1
{
   visibility: visible;
   display: table;
}
#wb_nosotros_layout1
{
   height: 50vh;
   margin-top: 0px;
   margin-bottom: 0px;
}
#nosotros_layout1
{
   height: 50vh;
   padding: 24px 0 24px 0;
}
#nosotros_layout1 > .col-1
{
   padding-right: 16px;
   padding-left: 16px;
}
#nosotros_layout1 > .col-1
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: center;
   align-items: center;
   justify-content: center;
   text-align: center;
}
#wb_contacto_layout2
{
   visibility: visible;
   display: table;
}
#wb_contacto_layout2
{
   height: auto;
   margin-top: 128px;
   margin-bottom: 128px;
}
#contacto_layout2
{
   height: auto;
   padding: 24px 0 24px 0;
}
#contacto_layout2 > .col-1, #contacto_layout2 > .col-2
{
   padding-right: 16px;
   padding-left: 16px;
}
#contacto_layout2 > .col-1
{
   display: flex;
   flex-basis: 50%;
   max-width: 50%;
   border: 0px solid transparent;
   border-radius: 0px;
   align-content: flex-start;
   align-items: flex-start;
   justify-content: flex-start;
   text-align: left;
}
#contacto_layout2 > .col-2
{
   display: flex;
   flex-basis: 50%;
   max-width: 50%;
   border: 0px solid transparent;
   border-radius: 0px;
   align-content: center;
   align-items: center;
   justify-content: flex-start;
   text-align: left;
}
#wb_contactoImage3
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0;
}
#wb_contactoText3
{
   visibility: visible;
   display: block;
}
#wb_contactoText3
{
   font-size: 13px;
   margin: 24px 0 24px 0 ;
   padding: 0;
   text-align: left;
   line-height: 26px;
}
#wb_contactoText2
{
   visibility: visible;
   display: block;
}
#wb_contactoText2
{
   font-size: 13px;
   margin: 0;
   padding: 0;
   text-align: left;
   line-height: 26px;
}
#contactoEditbox1
{
   width: 100%;
   height: 40px;
   visibility: visible;
   display: block;
   margin: 0 0 12px 0 ;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#contactoEditbox1
{
   line-height: 18px;
}
#contactoEditbox2
{
   width: 100%;
   height: 40px;
   visibility: visible;
   display: block;
   margin: 12px 0 12px 0 ;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#contactoEditbox2
{
   line-height: 6px;
}
#contactoEditbox3
{
   width: 100%;
   height: 40px;
   visibility: visible;
   display: block;
   margin: 12px 0 12px 0 ;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#contactoEditbox3
{
   line-height: 6px;
}
#contactoTextmensaje1
{
   width: 100%;
   height: 194px;
   visibility: visible;
   display: block;
   margin: 12px 0 12px 0 ;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#wb_contactoText4
{
   visibility: visible;
   display: block;
}
#wb_contactoText4
{
   font-size: 13px;
   margin: 12px 0 12px 0 ;
   padding: 0;
   text-align: left;
   line-height: 26px;
}
#contactoButton1
{
   width: 228px;
   height: 28px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 0;
}
#wb_contactoIcon1
{
   width: 64px;
   height: 64px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 0 32px 0 0;
}
#contactoIcon1
{
   width: 64px;
   height: 64px;
}
#contactoIcon1 i
{
   line-height: 64px;
   font-size: 64px;
   width: 63px;
}
#wb_contactoText5
{
   visibility: visible;
   display: block;
}
#wb_contactoText5
{
   font-size: 13px;
   margin: 24px 0 24px 0 ;
   padding: 0;
   text-align: left;
   line-height: 26px;
}
#wb_nosotros_Text1
{
   visibility: visible;
   display: block;
}
#wb_nosotros_Text1
{
   font-size: 53px;
   margin: 0;
   padding: 0;
   text-align: center;
   line-height: 103px;
}
}
@media only screen and (min-width: 375px) and (max-width: 767px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#wb_nosotros_layout1
{
   visibility: visible;
   display: table;
}
#wb_nosotros_layout1
{
   height: 50vh;
   margin-top: 0px;
   margin-bottom: 0px;
}
#nosotros_layout1
{
   height: 50vh;
   padding: 24px 0 24px 0;
}
#nosotros_layout1 > .col-1
{
   padding-right: 16px;
   padding-left: 16px;
}
#nosotros_layout1 > .col-1
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: center;
   align-items: center;
   justify-content: center;
   text-align: center;
}
#wb_contacto_layout2
{
   visibility: visible;
   display: table;
}
#wb_contacto_layout2
{
   height: auto;
   margin-top: 128px;
   margin-bottom: 128px;
}
#contacto_layout2
{
   height: auto;
   padding: 24px 0 24px 0;
}
#contacto_layout2 > .col-1, #contacto_layout2 > .col-2
{
   padding-right: 16px;
   padding-left: 16px;
}
#contacto_layout2 > .col-1
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid transparent;
   border-radius: 0px;
   align-content: flex-start;
   align-items: flex-start;
   justify-content: flex-start;
   text-align: left;
}
#contacto_layout2 > .col-2
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid transparent;
   border-radius: 0px;
   align-content: center;
   align-items: center;
   justify-content: flex-start;
   text-align: left;
}
#wb_contactoImage3
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0;
}
#wb_contactoText3
{
   visibility: visible;
   display: block;
}
#wb_contactoText3
{
   font-size: 13px;
   margin: 24px 0 24px 0 ;
   padding: 0;
   text-align: left;
   line-height: 26px;
}
#wb_contactoText2
{
   visibility: visible;
   display: block;
}
#wb_contactoText2
{
   font-size: 13px;
   margin: 0;
   padding: 0;
   text-align: left;
   line-height: 26px;
}
#contactoEditbox1
{
   width: 100%;
   height: 40px;
   visibility: visible;
   display: block;
   margin: 0 0 12px 0 ;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#contactoEditbox1
{
   line-height: 18px;
}
#contactoEditbox2
{
   width: 100%;
   height: 40px;
   visibility: visible;
   display: block;
   margin: 12px 0 12px 0 ;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#contactoEditbox2
{
   line-height: 6px;
}
#contactoEditbox3
{
   width: 100%;
   height: 40px;
   visibility: visible;
   display: block;
   margin: 12px 0 12px 0 ;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#contactoEditbox3
{
   line-height: 6px;
}
#contactoTextmensaje1
{
   width: 100%;
   height: 194px;
   visibility: visible;
   display: block;
   margin: 12px 0 12px 0 ;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#wb_contactoText4
{
   visibility: visible;
   display: block;
}
#wb_contactoText4
{
   font-size: 13px;
   margin: 12px 0 12px 0 ;
   padding: 0;
   text-align: left;
   line-height: 26px;
}
#contactoButton1
{
   width: 228px;
   height: 28px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 0;
}
#wb_contactoIcon1
{
   width: 64px;
   height: 64px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 0 32px 0 0;
}
#contactoIcon1
{
   width: 64px;
   height: 64px;
}
#contactoIcon1 i
{
   line-height: 64px;
   font-size: 64px;
   width: 63px;
}
#wb_contactoText5
{
   visibility: visible;
   display: block;
}
#wb_contactoText5
{
   font-size: 13px;
   margin: 24px 0 24px 0 ;
   padding: 0;
   text-align: left;
   line-height: 26px;
}
#wb_nosotros_Text1
{
   visibility: visible;
   display: block;
}
#wb_nosotros_Text1
{
   font-size: 24px;
   margin: 0;
   padding: 0;
   text-align: center;
   line-height: 46px;
}
}
@media only screen and (max-width: 374px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#wb_nosotros_layout1
{
   visibility: visible;
   display: table;
}
#wb_nosotros_layout1
{
   height: 50vh;
   margin-top: 0px;
   margin-bottom: 0px;
}
#nosotros_layout1
{
   height: 50vh;
   padding: 24px 0 24px 0;
}
#nosotros_layout1 > .col-1
{
   padding-right: 16px;
   padding-left: 16px;
}
#nosotros_layout1 > .col-1
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: center;
   align-items: center;
   justify-content: center;
   text-align: center;
}
#wb_contacto_layout2
{
   visibility: visible;
   display: table;
}
#wb_contacto_layout2
{
   height: auto;
   margin-top: 128px;
   margin-bottom: 128px;
}
#contacto_layout2
{
   height: auto;
   padding: 24px 0 24px 0;
}
#contacto_layout2 > .col-1, #contacto_layout2 > .col-2
{
   padding-right: 16px;
   padding-left: 16px;
}
#contacto_layout2 > .col-1
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid transparent;
   border-radius: 0px;
   align-content: flex-start;
   align-items: flex-start;
   justify-content: flex-start;
   text-align: left;
}
#contacto_layout2 > .col-2
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid transparent;
   border-radius: 0px;
   align-content: center;
   align-items: center;
   justify-content: flex-start;
   text-align: left;
}
#wb_contactoImage3
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0;
}
#wb_contactoText3
{
   visibility: visible;
   display: block;
}
#wb_contactoText3
{
   font-size: 13px;
   margin: 24px 0 24px 0 ;
   padding: 0;
   text-align: left;
   line-height: 26px;
}
#wb_contactoText2
{
   visibility: visible;
   display: block;
}
#wb_contactoText2
{
   font-size: 13px;
   margin: 0;
   padding: 0;
   text-align: left;
   line-height: 26px;
}
#contactoEditbox1
{
   width: 100%;
   height: 40px;
   visibility: visible;
   display: block;
   margin: 0 0 12px 0 ;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#contactoEditbox1
{
   line-height: 18px;
}
#contactoEditbox2
{
   width: 100%;
   height: 40px;
   visibility: visible;
   display: block;
   margin: 12px 0 12px 0 ;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#contactoEditbox2
{
   line-height: 6px;
}
#contactoEditbox3
{
   width: 100%;
   height: 40px;
   visibility: visible;
   display: block;
   margin: 12px 0 12px 0 ;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#contactoEditbox3
{
   line-height: 6px;
}
#contactoTextmensaje1
{
   width: 100%;
   height: 194px;
   visibility: visible;
   display: block;
   margin: 12px 0 12px 0 ;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#wb_contactoText4
{
   visibility: visible;
   display: block;
}
#wb_contactoText4
{
   font-size: 13px;
   margin: 12px 0 12px 0 ;
   padding: 0;
   text-align: left;
   line-height: 26px;
}
#contactoButton1
{
   width: 228px;
   height: 28px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 0;
}
#wb_contactoIcon1
{
   width: 64px;
   height: 64px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 0 32px 0 0;
}
#contactoIcon1
{
   width: 64px;
   height: 64px;
}
#contactoIcon1 i
{
   line-height: 64px;
   font-size: 64px;
   width: 63px;
}
#wb_contactoText5
{
   visibility: visible;
   display: block;
}
#wb_contactoText5
{
   font-size: 13px;
   margin: 24px 0 24px 0 ;
   padding: 0;
   text-align: left;
   line-height: 26px;
}
#wb_nosotros_Text1
{
   visibility: visible;
   display: block;
}
#wb_nosotros_Text1
{
   font-size: 24px;
   margin: 0;
   padding: 0;
   text-align: center;
   line-height: 46px;
}
}
